


body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  /* background-image: url(''); */
  background-image: url('./img/uni-phoenix.jpg');
   /* background-image: url("D:/Mini Project/university-background-flipped.jpg"),url('D:Mini Project/background.jpg'); */
  /* background-blend-mode: lighten;  */
  opacity: 0.85;
  width:100%;
  min-height: 50%; 
}

.bgimg-2 {
  /* opacity: 0.8; */
  background-image: url("./img/3-new.jpg");
  min-height: 50%;
}

.bgimg-3 {
  /* opacity: 0.8; */
  background-image: url("./img/4-new.jpg");
  min-height: 50%;
}
.background{
    height:100%;
}

.bg-container{
    height:100%;
}

.transition { 
        transition: width 0.1s;
        float:right; 
        position:relative;
        top: 50%;
        width: 120px;
        height: 120px; 
        background:rgba(0, 0, 0, 0.712);
        color:white;
        font-size:18px;
        padding:6px 6px 6px 6px;

        }

.transition:hover {
    width: 500px;
    
}

.event1 {
  width: 80%;
    height: 70%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: white 1px solid;
}

.announcements
{
  margin-top:300px;
  background-color:rgba(18, 44, 52, 1);;
  height:50%;
  margin-right: 0;
}



.news
{
  display:inline-block;
  text-align:center;
  height:50px;
  width:10%;
  background-color:white;
  color:black;
}


.newsLinks
{
  height:50px;
  width:90%;
  background-color:rgba(134, 203, 146, 1);
  display:inline-block;
}


a{
color:white;
}

.eve{
  padding-bottom: 17px;
}



@media screen and (max-width: 576px) {
    .announcements{
      margin-top:0px;
  background-color:rgba(18, 44, 52, 1);
  height:100%;
    }
}


